{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            <div class="places-buttons">
                <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h4 class="card-title">
                    Notifications Places
                    <p class="category">Click to view notifications</p>
                </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    

                    

















                    <div id="right-panel" class="right-panel">
                        <div class="content">
                            <div class="animated fadeIn">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong class="card-title">Standard Select</strong>
                                            </div>
                                            <div class="card-body">
                                                <select data-placeholder="Choose a Country..." class="standardSelect" tabindex="1">
                                                <option value="" label="default"></option>
                                                <option value="United States">United States</option>
                                                <option value="United Kingdom">United Kingdom</option>
                                                <option value="Afghanistan">Afghanistan</option>
                                                <option value="Aland Islands">Aland Islands</option>
                                                <option value="Albania">Albania</option>
                                                <option value="Algeria">Algeria</option>
                                                <option value="American Samoa">American Samoa</option>
                                                <option value="Andorra">Andorra</option>
                                                <option value="Angola">Angola</option>
                                                <option value="Anguilla">Anguilla</option>
                                                <option value="Antarctica">Antarctica</option>
                                            </select>
                                        </div>
                                    </div>
                                </div></div>
                
                
                
                  </div>




















                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
