{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            <div class="places-buttons">
                <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h4 class="card-title">
                    Notifications Places
                    <p class="category">Click to view notifications</p>
                </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    

                    

















                    


                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
